@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
  background: rgb(125, 125, 125);
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.form-container {
  width: 360px;
  background-color: white;
  margin: auto;
  justify-content: center;
  box-shadow: 0px 5px 100px 0px white;
  padding: 10px;
  border: 1.5px solid #d4d4d4;
  border-radius: 10px;
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
}

.success-message {
  font-family: "Roboto", sans-serif;
  background-color: #438bf7;
  padding: 15px;
  color: white;
}
.success-message:hover{
  background-color: #003482;
}

.form-field {
  margin: 10px 0 10px 0;
  padding: 15px;
  font-size: 16px;
  border: 0;
  font-family: "Roboto", sans-serif;
}

span {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: red;
  margin-bottom: 15px;
}

input {
  background: #f2f2f2;
  color: black;
  border-radius: 10px;
}
input:hover{
  background:#a7a7a7;
}

.sub-but {
  background-color: #008d05;
  color: white;
  cursor: pointer;
  margin: 10px 0 10px 0;
  padding: 15px;
  font-size: 16px;
  border: 0;
  font-family: "Roboto", sans-serif;
}

.sub-but:hover {
  background: #31ca38;
}